:root, body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(77, 33, 33);
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

button {
    border-radius: 5rem;
    border-style: none;
    padding: .5rem 1rem;
}

button:hover {
    cursor: pointer;
}

.header {
    width: 100vw;
    background-color: #1f2937;
    padding-top: 1rem;
}

.header > h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #f9faf8;
}

.form {
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: #f9faf8;
    flex-wrap: wrap;
    text-align: center;
    background-color:#3a4a61;
}

.form > div {
    align-self: center;
    flex: 1 0 33%;
    margin-bottom: 1%;
}

.card-container {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    column-gap: 1%;
    row-gap: 1%;
}


.book-card {
    border-radius: 50px;
    color:#f9faf8;
    padding: 3%;
    width: 20vw;
    height: 40vh;
    background-color: #3a4a61;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-around;
    /* align-content: flex-start; */
}

@media screen and (max-width: 990px) {
    .card-container {
        grid-template-columns: auto auto auto;
    }
    .book-card {
        width: 30vw;
        height: 40vh;
    }
}

@media screen and (max-width: 775px) {
    .card-container {
        grid-template-columns: auto auto;
    }
    .book-card {
        width: 40vw;
        height: 40vh;
    }
    .form {
        flex-direction: column;
        align-items: left;
    }
}

@media screen and (max-width: 500px) {
    .card-container {
        grid-template-columns: auto;
    }
    .book-card {
        width: 80vw;
        height: 40vh;
    }
    .form {
        flex-direction: column;
        align-items: flex-start;
    }
}

.title-div {
    align-self: auto;
    margin-top: 20px;
}

.title-div > h2 {
    font-size: xx-large;
}

.title-div > h3 {
    /* align-self: start; */
    font-size: large;
    margin-top: .5rem;
}

.book-card > p {
    text-align: right;
    align-self: flex-end;
    margin-top: auto;
}

.button-div {
    align-self: center;
}

.button-div > button {
    margin: .25rem;
}

.button-div > .remove {
    background-color: red;
}

.button-div > .incomplete {
    background-color: lightsalmon;
}

.button-div > .complete {
    background-color: darkolivegreen;
}